MSSQL_SA_PASSWORD=Classifieds123!StrongPassword
ASPNETCORE_ENVIRONMENT=Development
ConnectionStrings__DefaultConnection='Server=localhost,1433;Database=DBJornal;User Id=sa;Password=Classifieds123!StrongPassword;TrustServerCertificate=True'